{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    
    <div class="row align-items-center">
      <div class="col-6 text-center ">
            <img src="#" style="width: 70%; border-radius: 50%;">
      </div>
      <div class="col-6 ">
        <h1>Welcome to my blog!</h1>
        <h3>About Pin-Yu Lee</h3>
        <p>Hi! I am Joanne. I am a software engineer who graduated with a master's degree in<br>biomedical engineering at Columbia University.</p>
        <p>This blog is a demonstratration of the website I design, which uses Bootstrap and <br>Django as the
            framwork. Feel free to download it through the link below!</p>
        <br>
        <br>
        <p>Click those cute items on the desk to explore more!</p>

        <a class="btn btn-outline-success" href="#">Resume</a>
        <a class="btn btn-outline-success bi bi-house-fill" href="#"></a>
        <a class="btn btn-outline-success bi bi-github" href="#"></a>
        <a class="btn btn-outline-success bi bi-linkedin" href="#"></a>
        <a class="btn btn-outline-success bi bi-envelope-fill" href="#"> ***@gmail.com</a>
        <a class="btn btn-outline-success bi bi-phone-fill" href="#"> +1 ###</a>

      </div>
    </div>

{% endblock %}